{#{%  extends "page.html" %}#}

{% block title %}{{ page_title }}{% endblock %}

<div id="table"></div>

{#{% block script %}#}
{#    {{super()}}#}

<script src="https://cdn.jsdelivr.net/npm/handsontable@7.2.2/dist/handsontable.full.min.js"></script>
<script>
    let container = document.getElementById("table");
    let data = JSON.parse({{ spreadsheet_data | tojson | safe }});
    console.log(data);
    let hot = new Handsontable(container, {
      data: data,
      rowHeaders: true,
      colHeaders: true,
      filters: true,
      dropdownMenu: true
    });
</script>
{#{% endblock %}#}

{#<script src="javascript/table.js"></script>#}
<link href="https://cdn.jsdelivr.net/npm/handsontable@7.2.2/dist/handsontable.full.min.css" rel="stylesheet" media="screen">
